<p>
  Quand vous avez la possibilité de manipuler le fluide à votre guise,
  l&#39;exercice le plus naturel consiste à rassembler l’énergie qu&#39;il
  représente et lui donner la forme voulue. On appel cela l’Évocation.
  C&#39;est une discipline qui demande beaucoup de connaissances
  fondamentale, une grande capacités de représentation mental, et une
  extrême précision dans les gestes. Le fluide que vous puiser provient
  généralement soit de vous même, soit de l&#39;environnement proche de
  vous. Il devient alors possible de créer des projectiles qui pendant
  l&#39;espace d&#39;un instant ont une réalité physique bien palpable, ou
  vous tout simplement de dissipé toute l&#39;énergie en chaleur sur le
  pauvre hère que vous auriez pris en grippe.
</p>