<h1>Succès et Echecs</h1>
<p>
  À chaque fois qu&#39;une action entreprise par un personnage peut
  échouer, déterminer le résultat ce fait alors avec un jet de dés. Le
  score à obtenir dépend de la situation. Parfois, le nombre de succès à
  obtenir est choisis par le MJ, parfois déterminé par les atouts de
  l&#39;adversaire, parfois déterminé par un autre jet de dé en
  opposition. Les dé à utiliser généralement sont des dés à 6 face
  <strong>(D6)</strong>. Mais certaines capacitées, ou certains equipement
  vous demanderont d&#39;effectuer des jets avec des dés différents.
</p>
<h2>
  Dés positif versus Dés négatif
</h2>
<p>
  Prenons exemple : José-Baltazar cherche à sauter au dessus d&#39;un
  précipice. Le MJ lui demendera surement un test d&#39;Athletisme.
</p>
<ul>
  <li>
    Si José-Baltazar à 3 en Vigueur et le rang 1 en compétence
    d&#39;athletisme, il peut constutuer une réserve de :
    <strong>3+1=4 D6</strong>
  </li>
  <li>
    Le MJ estime que José-B doit faire un joli saut pour passer au dessus
    sans tomber. En plus, le précipice est profond. Il va donc definir la
    <strong>difficultée a 3</strong>. Il constitue une réserve de
    <strong>3 D6</strong>
  </li>
</ul>
<p>
  A partir de se momment, José-B va pouvoir faire sont test.. Il réunis
  4D6 et 3D6 (de deux couleurs differente) et les lances. le MJ interprête
  ensuite les resultats de la manière suivante :
</p>
<p>
  <strong><em>Pour chaque dé positif :</em></strong>
</p>
<ul>
  <li><strong>5</strong> : Génère 1 avantage.</li>
  <li><strong>6</strong> : Génère 1 succès.</li>
</ul>
<p>
  <strong><em>Pour chaque dé négatif :</em></strong>
</p>
<ul>
  <li><strong>1</strong> : Génère 1 échec.</li>
  <li><strong>2</strong> : Génère 1 désavantage.</li>
</ul>
<p>Chaque échec annule un succès Chaque désavantage annule un avantage</p>
<p>
  Le score final, qu&#39;on appelle
  <strong>résultat net, est déterminé par la somme des échecs avec les succès
    et les avantages avec les désavantage</strong>. Si le tests génère au <strong>moins 1 succès</strong>, le test
  réussi, sinon il échoue.
</p>
<h1 >Avantage et Désavantage</h1>
<p>
  Vous générez des avantages ou des désavantage lors de vos jets de dés,
  ou grâce à des capacités spéciales. Le MJ peut également décider que les
  circonstances influencent un jet de dé dans une direction ou une autre
  et choisir d&#39;accorder des avantages ou d&#39;imposer un désavantage
  en conséquence.
</p>
<p>
  C&#39;est l&#39;occasion pour le MJ de décrire une action qui produit
  des effets de bords qui peuvent influencer sur la réussite future des
  jets. Une pirouette scénaristique est toujours la bienvenue, comme par
  exemple : si l&#39;ennemi à beaucoup de désavantage :
  <em>&quot;Après avoir correctement porté son attaque, et en se
    repositionnant, la créature pose le pied sur une pile de roches
    instables. Elle vacille, perd l&#39;équilibre puis chute à
    terre&quot;</em>.
</p>
<p>
  De manière générale, vous pouvez toujours résoudre les avantages et
  désavantage de la manière suivante :
</p>
<ul>
  <li>
    <strong>Moral</strong> : Lors du prochain test de compétence ou jet
    d&#39;attaque,
    <strong>relancez chaque dé tombé en échec pour chaque avantage</strong>. À l&#39;inverse, relancer chaque dé tombé
    en succès pour chaque
    désavantage. Interprétez le résultat après la résolution des avantages
    ou désavantage
  </li>
  <li>
    <strong>Effets de bord</strong> : Les capacitées utilisées ont parfois
    des effets de bords qui augmentent leurs puissance. Elles consomment
    généralement des avantages.
  </li>
  <li>
    <strong>Epuisement</strong> : Les désavantages lors de
    l&#39;utilisation de compétences traduisent une complexité inattendue,
    et peuvent être utilisés par le MJ pour faire
    <strong>perdre des points de concentration ou de volonté au lanceur</strong>.
  </li>
</ul>
<p>
  <strong>Règle optionnelle</strong> : Les avantages et désavantage sont
  partagé avec tout le groupe. Ce sont les joueurs qui décident de comment
  dépenser leurs avantages, et au MJ de déclancher leurs désavantage.
</p>
<h1 >
  Augmenter ou Dimiuer les dé de dégâts
</h1>
<p>
  Certaines capacités vous permetterons d&#39;augmenter les chances
  d&#39;infliger d&#39;avantage de dégâts avec vos armes. Quand il est
  question d&#39;augmenter un dé de dégât, il suffit de remplacer le dé
  habituel de l&#39;arme par un dés de valeurs superieurs.
</p>
<ul>
  <li>
    Augmenter une fois une arme avec 1d8 de dégât signifie utiliser 1d10 à
    la place.
  </li>
  <li>
    Augmenter deux fois une arme avec 1d8 de dégât signifie utiliser 1d12
    à la place.
  </li>
</ul>
<p>
  Diminuer un dé de dégât revient, à l&#39;inverse , à utiliser un dé avec
  une valeur inferieur à celui de l&#39;arme.
</p>
<ul>
  <li>
    Diminuer une fois une arme avec 1d8 de dégât signifie utiliser 1d6 à
    la place.
  </li>
  <li>
    Diminuer deux fois une arme avec 1d8 de dégât signifie utiliser 1d4 à
    la place.
  </li>
</ul>
<p>
  L&#39;odre des valeurs de dé : <strong>1d4</strong>,
  <strong>1d6</strong>, <strong>1d8</strong>, <strong>1d10</strong>,
  <strong>1d12</strong>, <strong>1d20</strong>, <strong>2d12</strong>,
  <strong>3d10</strong>, <strong>3d12</strong>, <strong>2d20</strong>....
</p>
<p>
  <strong>Diminuer un dé de dégat en dessous de 1D4 réduit les dégats de base
    de l&#39;arme a 1</strong>
</p>