<h1 >
  Véhicules, Aéronefs et Navettes
</h1>
<p>
  On distingue généralement deux types de véhicules. Ceux qui peuvent
  voyager à travers les relais galactiques et les autres. Les premiers
  sont généralement de grands bâtiments hors de prix, conçus dans le but
  de servir de bases volantes pour des missions d&#39;exploration,
  colonisation, terraformations ou militaires. Il est assez rare de
  trouver des vaisseaux monoplaces capables de traverser les relais seuls.
  Les corvettes, et les vaisseaux de quelques centaines de mètres,
  constituent la majorité de cette catégorie. Ils sont généralement la
  propriété d&#39;entreprises ou de groupes d&#39;individus fortunés. Un
  aventurier pourrait posséder un tel vaisseau au milieu d&#39;une
  carrière fleurissante, mais rarement sans s&#39;endetter ou être soumis
  à certaines obligations.
</p>
<h2 >Navettes</h2>
<p>
  Les vaisseaux de l&#39;autre catégorie sont nettement plus abordables et
  communs. Les navettes sont capables de naviguer dans le vide spatial et
  constitue la seule manière de quitter l&#39;atmosphère d&#39;une
  planète. Étant donné le contexte de guerre énergétique, les carburants
  sont extrêmement coûteux, et comme la majorité est consommée pour
  l&#39;extraction planétaire, il est assez courant que les capsules de
  sauvetages soient utilisées pour déposer les passagers sur une planète
  sans faire descendre l&#39;appareil entier.
</p>
<p>
  Il est possible pour une navette de voler en atmosphère, mais elles sont
  très difficiles à manœuvrer efficacement car souvent non conçu pour
  exceller dans ces milieux.
</p>
<h2 >Aéronef</h2>
<p>
  À l&#39;instar des navettes pour le domaine spatiale, les aéronefs
  regroupent tous les véhicules capables de voler dans l&#39;atmosphère
  d&#39;une planète. Ils sont relativement peu coûteux en comparaison.
  Mais la maturité technologique nécessaire pour en produire les rend
  souvent hors de portée de la plupart des mondes. Il existe cependant des
  appareils archaïques très rependu dans certaines contrées de la galaxie,
  mais ils ne sont alors pas comparables aux navettes. Comme pour les
  navettes, si un aéronef n&#39;est pas très coûteux en soit, le faire
  voler et l&#39;entretenir requière beaucoup plus de fonds. En posséder
  un ne signifie pas qu&#39;on puisse l&#39;utiliser avec facilité.
</p>
<h2 >
  Véhicules terrestre et montures.
</h2>
<p>
  Les véhicules motorisés sont monnaie courante dans la plupart des
  mondes, et peuvent être achetés à des prix raisonnables. Comme toujours,
  le prix général du carburant limite beaucoup l&#39;utilisation des
  véhicules les plus puissants. Mais des véhicules monoplace ou biplace
  avec des vitesses de déplacement décente qui utilisent des formes
  d&#39;énergies alternatives sont souvent très utilisé. Les montures
  trouvent donc leurs places dans les travaux qui requièrent une certaine
  force brutes. D&#39;autant plus que beaucoup de planètes jouissant
  d&#39;écosystèmes florissants, ou de large et puissants animaux peuvent
  être domestiqué.
</p>